.text-gradient {
    background: rgb(15,238,226);
background: linear-gradient(45deg, rgba(15,238,226,1) 29%, rgba(29,27,27,0.9848272072500875) 47%, rgba(158,18,43,1) 68%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-dj-dj {
    width: 100%;
    height: 100vh;
    background: url("../img/img-new/dj-bg-hero.jpg") top center;
    background-size: cover;
    position: relative;
  }

.element-txt-shad {
    color: white; /* Text color */
    text-shadow:
        -2px -2px 0 black,   /* Top-left shadow */
        2px -2px 0 black,    /* Top-right shadow */
        -2px 2px 0 black,    /* Bottom-left shadow */
        2px 2px 0 black,     /* Bottom-right shadow */
        -2px 0px 0 black,    /* Left shadow */
        2px 0px 0 black,     /* Right shadow */
        0px -2px 0 black,    /* Top shadow */
        0px 2px 0 black,     /* Bottom shadow */
        0px 0px 3px black;   /* Central blur shadow */
}


  
  #hero-dj:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero-dj .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
  }
  
  #hero-dj h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  #hero-dj h1 span {
    color: #ffc451;
  }
  
  #hero-dj h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  #hero-dj .dj-icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;

    height: 100%;
    text-align: center;
  }
  
  #hero-dj .dj-icon-box i {
    font-size: 32px;
    line-height: 1;
    color: #ffc451;
  }
  
  #hero-dj .dj-icon-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
  }
  
  #hero-dj .dj-icon-box h3 a {
    color: #fff;
    transition: ease-in-out 0.3s;
  }
  
  #hero-dj .dj-icon-box h3 a:hover {
    color: #ffc451;
  }
  
  #hero-dj .dj-icon-box:hover {
    border-color: #ffc451;
  }
  
  @media (min-width: 1024px) {
    #hero-dj {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero-dj {
      height: auto;
    }
  
    #hero-dj h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero-dj h2 {
      font-size: 20px;
      line-height: 24px;
    }
  }


  /* hero background */

#media-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure media is behind other content */
}

.background-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding: 20px;
    /* Adjust padding or other styles as needed for your content */
    z-index: 1; /* Ensure content is above media */
}




#hero-dj .dj-icon-box {
      padding: 30px 20px;
      transition: ease-in-out 0.3s;

      height: 100%;
      text-align: center;
    }
    
    #hero-dj .dj-icon-box i {
      font-size: 32px;
      line-height: 1;
      color: #ffc451;
    }
    
    #hero-dj .dj-icon-box h3 {
      font-weight: 700;
      margin: 10px 0 0 0;
      padding: 0;
      line-height: 1;
      font-size: 20px;
      line-height: 26px;
    }
    
    #hero-dj .dj-icon-box h3 a {
      color: #fff;
      transition: ease-in-out 0.3s;
    }
    
    #hero-dj .dj-icon-box h3 a:hover {
      color: #ffc451;
    }
    
    #hero-dj .dj-icon-box:hover {
      border-color: #ffc451;
    }
    
    @media (min-width: 1024px) {
      #hero-dj {
        background-attachment: fixed;
      }
    }
    
    @media (max-width: 768px) {
      #hero-dj {
        height: auto;
      }
    
      #hero-dj h1 {
        font-size: 28px;
        line-height: 36px;
      }
    
      #hero-dj h2 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    
    
    
      
    #hero-dj {
      width: 100%;

      background: linear-gradient(78deg, rgba(15, 238, 226, .5) 20%, rgba(29, 27, 27, 0.9848272072500875) 40%, rgba(158, 18, 43, .5) 60%);
      background-size: 500% 500%;
      position: relative;
      animation: gradientMove 10s linear infinite alternate; 
    }

    #contact-dj {

      width: 100%;
      height: 100%;
      background: linear-gradient(bottom to top, rgba(15, 238, 226, 1) 20%, rgba(29, 27, 27, 0.9848272072500875) 40%, rgba(158, 18, 43, 1) 60%);
      background-size: 500% 500%;
      position: relative;
      animation: gradientMove 10s linear infinite alternate; 
    }
    @keyframes gradientMove {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 100%;
      }
    }

  
  
    
    #hero-dj {
    height: 100vh;
    }
    
    #hero-dj:before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #hero-dj .container {
      position: relative;
      padding-top: 74px;
      text-align: center;
    }
    
    #hero-dj h1 {
      margin: 0;
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      color: #fff;
      font-family: "Poppins", sans-serif;
    }
    
    #hero-dj h1 span {
      color: #ffc451;
    }
    
    #hero-dj h2 {
      color: rgba(255, 255, 255, 0.9);
      margin: 10px 0 0 0;
      font-size: 24px;
    }
    
    #hero-dj .dj-icon-box {
      padding: 30px 20px;
      transition: ease-in-out 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.0);
      height: 100%;
      text-align: center;
    }
    
    #hero-dj .dj-icon-box i {
      font-size: 32px;
      line-height: 1;
      color: #ffc451;
    }
    
    #hero-dj .dj-icon-box h3 {
      font-weight: 700;
      margin: 10px 0 0 0;
      padding: 0;
      line-height: 1;
      font-size: 20px;
      line-height: 26px;
    }
    
    #hero-dj .dj-icon-box h3 a {
      color: #fff;
      transition: ease-in-out 0.3s;
    }
    
    #hero-dj .dj-icon-box h3 a:hover {
      color: #ffc451;
    }
    
    #hero-dj .dj-icon-box:hover {
      border-color: #ffc451;
    }
    
    @media (min-width: 1024px) {
      #hero-dj {
        background-attachment: fixed;
      }
    }
    
    @media (max-width: 768px) {
      #hero-dj {
        height: auto;
      }
    
      #hero-dj h1 {
        font-size: 28px;
        line-height: 36px;
      }
    
      #hero-dj h2 {
        font-size: 20px;
        line-height: 24px;
      }
    }


/* Additional styles to enhance the fade effect */
.fade {
    transition: opacity 0.5s ease-in-out;
}

.fade.show {
    opacity: 1;
}

.fade:not(.show) {
    opacity: 0;
}

.modal-backdrop {
display: none !important;
}
   .spinner-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }
        .loading-spinner,
        .loading-done {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }


.review-hover {
border-radius: 20%;
transition: all 0.5s ease-in-out;



}
.review-hover:hover {
scale: 1.15;
background: rgb(174,226,238);
background: radial-gradient(circle, rgba(174,226,238,.2) 0%, rgba(255,242,0,0.1) 100%);
border: 3px double rgba(255, 255, 255, 0.1);
border-radius: 20%;
}



        /* Custom CSS for mobile navigation */
        .mobile-nav {
            display: none;
        }

        @media (max-width: 500.98px) {
            .mobile-nav {
                display: block;
            }
            .desktop-nav {
                display: none;
            }
        }
    #unique-navbar.hidden {
        top: -100px; /* Adjust this value based on the navbar height */
        transition: top 0.3s;
    }