{% load static %}
<nav class="navbar navbar-expand-lg navbar-hide-on-scroll fixed-top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'frontend/img/dj/logo-gradient-stroke.png' %}" class="img-fluid" style="max-width: 100px;" alt="Logo">
                </a>
            </div>
            <div class="col-10">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars text-light"></i>
                </button>
                <div class="collapse navbar-collapse p-3 me-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#hero-dj">Back to Nav</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-dj">E-commerce Services</a>
                        </li>
                        <!-- Add more menu items as needed -->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact-dj">Contact Justin</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{% url 'home'  %}">
                                Taos Haus Tech
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="https://www.instagram.com/taos_haus/">
                                <i class="bi bi-instagram text-danger" style="font-size:30px"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="https://soundcloud.com/taos-haus-bumps">
                                <i class="fa fa-soundcloud text-danger" style="font-size:36px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
