    <div class="container" data-aos="fade-up">

    <div class="section-title">
     <h1 class='text-light fw-bold element-txt-shad'>DJ This Justin <i class="bi bi-boombox"></i><span class='text-light'> DJ Essentials</span> <i class="bi bi-boombox"></i> DJ Droppenheimer</h1>
      <h3 class="address element-txt-shad">Recorded Mixes, Show Schedule and MORE to come</h3>
    </div>



    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info ">
          <div >
            <i class="bi bi-geo-alt"></i>
            <h4 class="text-light element-txt-shad">Set up a meeting: </h4>
            <p><a href='https://calendly.com/taos-haus-tech/introductory-call' class="element-txt-shad">Make your Party SLAM</a></p>
          </div>
</div>
</div>
<div class="col-lg-4">
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4 class="text-light element-txt-shad">Send me an Email</h4>
            <p><a class="element-txt-shad" href="mailto:taos.haus.thumps@gmail.com?subject = I would like to inquire about your DJ services">taos.haus.thumps@gmail.com</a></p>
          </div>
</div>

<div class="col-lg-4">
          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4 class="text-light element-txt-shad">Give me a Call:</h4>
            <p><a class="element-txt-shad" href='tel:9735985837'>(973) - 598 - 5837</a></p>
          </div>
</div>
    

      </div>


    </div>

  

  <!-- Modal success -->
  
