{% load static %}
<div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-8 col-lg-8 mb-5">
        <h1 class='text-light'>Taos<span class='text-gradient'> H</span>A<span class='text-gradient'>U</span>S Thumps</h1>


    </div>
</div>
<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">

    {% comment %} <div class='col-xl-6 col-lg-8'> {% endcomment %}

        <h2> From the intimate venues in Taos to the lively stages of Santa Fe, I bring a unique sonic experience, uniting music enthusiasts under the spell of pulsating rhythms and soulful melodies.</h2>
    {% comment %} </div> {% endcomment %}

    </div>

      <div class="row gy-4 mt-5 justify-content-center">    
                <img src="{% static 'frontend/img/dj/Taos Haus_transparent.png' %}" class="h-50 w-50">
<!--                <h1 class='text-light'>Taos<span class='text-gradient'> H</span>A<span class='text-gradient'>U</span>S Thumps</h1>-->
            </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        {% for bangers in services %}
      <div class="col-xl-3 col-md-4">

        <div class="icon-box">
          <i class="ri-store-line"></i>
          <h3><a href="">{{ bangers.dj_service_name}}</a></h3>
            <h3><a href="">{{ bangers.dj_service_description }}</a></h3>
        </div>

      </div>
{% endfor %}
<h3 class="text-light">And so much more!  With a Massive collection of songs and an advanced sound system, I have the ability to play anything at the tips of my fingers from my own produced music to requests!</h3>
    </div>


  </div>






