{% load static %}

<div class="container" data-aos="fade-up">
  <div class="row mb-3 text-center">
    <h3 style='font-family: "Poppins", sans-serif;'>Professional & Personalized</h3>
    <h4 style='font-family: "Poppins", sans-serif;'>Website, Software, and E-commerce Development Solutions</h4>
  </div>
  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <p class="fst-italic mt-5">
            The mission is to assist businesses and individuals in entering the online market, utilizing the power of websites and e-commerce platforms to reach a broader audience and achieve exceptional growth.
        </p>
        <ul>
            <li><i class="ri-check-double-line"></i> Taos Haus provides unique and personalized website development solutions, working closely with clients to create captivating and functional websites that effectively showcase their brand and ideas.</li>
            <li><i class="ri-check-double-line"></i> Backed by over 20 years of combined experience, Taos Haus Tech provides expert guidance in setting up and optimizing online stores. This includes comprehensive support for all necessary integrations and enhancements to ensure sustained success.</li>
            <li><i class="ri-check-double-line"></i> Personalized consultation services are designed to transform businesses into successful online ventures, with technical expertise available throughout the process.</li>
        </ul>
        <p>
            Taos Haus Tech is dedicated to building strong, long-lasting relationships with clients. Expect dedicated support and personalized attention throughout the engagement. Commitment to growth and prosperity is a top priority.
            <a href="#contact" class='text-decoration-none'> Contact today for a consultation.</a>
        </p>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 position-relative d-flex align-items-center" data-aos="fade-left" data-aos-delay="100" id="justin-image-hover">
      <ul class='list-unstyled calls-to-action' id='call-action'>
        <li><h2 class='text-center'>What Will Be Brought to the Table</h2></li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Experienced</span><br>Expertise will be applied to carve out the best path to achieve desired goals.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Knowledgeable</span><br>Questions about the process? Information will be provided in an easily understandable manner.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Dependable</span><br>Transparency and upfront communication are guaranteed. The focus is on hard work and dedication.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Top Quality Banter</span><br>Engaging and enjoyable interactions are part of the service—no extra charge for humor.</li>
      </ul>
    </div>
  </div>
</div>
