{% load static %}




<div class="container" data-aos="fade-up">
  <div class="row mb-3 text-center">
    
      <h3 style='font-family: "Poppins", sans-serif;'>Profesional & Personalized</h3>
      <h4 style='font-family: "Poppins", sans-serif;'>Website, Software and E-commerce Development Solutions</h4>
    
    
      
    
  </div>
  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <p class="fst-italic mt-5">
            My mission is to assist businesses and individuals in breaking into the online market, leveraging the power of websites and ecommerce platforms to reach a broader audience and achieve unprecedented growth.
        </p>
        <ul>
            <li><i class="ri-check-double-line"></i> Taos Haus offers unique and personalized website development solutions. I will work closely with you to create a captivating and functional website that truly showcases your brand and idea.</li>
            <li><i class="ri-check-double-line"></i> With over 13 years of combined experience, I will guide you through the process of setting up and optimizing your online store and any attachments and integrations needed to thrive.</li>
            <li><i class="ri-check-double-line"></i> My personalized consultation services aim to transform your business into a successful online venture with a Technical Expert by your side through the process.</li>
        </ul>
        <p>
            I believe in building strong, long-lasting relationships with my clients. When you choose to work with Taos Haus Technical Solutions, you can expect dedicated support and personalized attention throughout your time. I am committed to your growth and prosperity.
            <a href="#contact" class='text-decoration-none'> Contact today for a consultation.</a>
        </p>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 position-relative d-flex align-items-center" data-aos="fade-left" data-aos-delay="100" id="justin-image-hover">
     

      <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li>       <h2 class='text-center'>What We'll Bring to the Table</h2>
</li>

      <li><i class="ri-check-double-line"></i><span class='fw-bold'>Experienced</span><br>We will carve out the best track to get you to the endgoal you want</li>
      <li><i class="ri-check-double-line"></i><span class='fw-bold'>Knowledgable</span><br>Want to know something about the process?  We'll explain in what ever capaciy you can handle.</li>
      <li><i class="ri-check-double-line"></i><span class='fw-bold'>Dependable</span><br>Always up-front and transprent, my team and I are not here to for anything other then hard work.</li>
      <li><i class="ri-check-double-line"></i><span class='fw-bold'>Top Quality Banter</span><br>Think your back and forth is on point? Want to laugh until you cant?  Let us know....no extra charge...</li>
        </ul>
    </div>
</div>

</div>








