{% load static %}
{% comment %} <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'frontend/img/img-new/1-winter-in-taos-robert-woodward.jpg' %}" class="img-fluid my-auto" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Profesional & Personalized Website and Online Sales Solutions</h3>
            <p class="fst-italic">
              Our mission is to assist businesses and individuals in breaking into the online market, leveraging the power of websites and ecommerce platforms to reach a broader audience and achieve unprecedented growth.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Taos Haus offers unique and personalized website development solutions. I will work closely with you to create a captivating and functional website that truly showcases your brand and idea.</li>
              <li><i class="ri-check-double-line"></i> With over 12 years of ecommerce experience, we will guide you through the process of setting up and optimizing your online store and any attachments and integrations needed to thrive.</li>
              <li><i class="ri-check-double-line"></i> Expert consultation services aim to transform your business into a successful online venture with an Technical Expert by your side.</li>
            </ul>
            <p>
              
              I believe in building strong, long-lasting relationships with my clients. When you choose to work with Taos Haus Technical Solutions, you can expect dedicated support and personalized attention throughout your time. I am committed to your growth and prosperity.
             <a href="#contact" class='text-decoration-none'> Contact today for a consultation.</a>
            </p>
          </div>
        </div>

      </div>

      <div id="alert" style="display:none;"></div> {% endcomment %}



{% comment %} <div class="container" data-aos="fade-up">
  <div class="row mb-3 text-center">
    
      <h3 style='font-family: "Poppins", sans-serif;'>Profesional & Personalized Website and Online Sales Solutions</h3>
    
    
      
    
  </div>
  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
      <p class="fst-italic mt-5">
        Greetings! I'm the mastermind behind the beats, wearing the hats of a DJ, company owner, and skilled developer. My world seamlessly intertwines the rhythms of music and the intricacies of technology, crafting unforgettable experiences both on the dance floor and in the digital landscape.
      </p>
      <ul>
        <li><i class="ri-check-double-line"></i> Delving into unique and personalized approaches to website development, much like Taos Haus, I collaborate closely with you to create a compelling and functional website that authentically reflects your brand and vision.</li>
        <li><i class="ri-check-double-line"></i> With over 13 years of combined experience, I guide you through the process of establishing and optimizing your online presence, ensuring it thrives with necessary enhancements and integrations.</li>
        <li><i class="ri-check-double-line"></i> Offering tailored consultation services, my goal is to transform your business into a successful online venture, with a Technical Expert accompanying you throughout the journey.</li>
      </ul>
      <p>
        Fostering strong, enduring relationships with clients is my philosophy. Choosing to collaborate with my company, Taos Haus Technical Solutions, guarantees dedicated support and personalized attention. I am dedicated to your growth and prosperity.
        <a href="#contact" class='text-decoration-none'> Connect today for a consultation.</a>
      </p>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 position-relative d-flex align-items-center" data-aos="fade-left" data-aos-delay="100" id="justin-image-hover">
      <ul class='list-unstyled calls-to-action text-center' id='call-action'>
        <li>
          <h2 class='text-center'>What I'll Bring to the Table</h2>
        </li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Experienced</span><br>I carve out the best track to get you to the end goal you want.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Knowledgeable</span><br>Whether you seek insights about DJing or discussions about different realms, I'll explain in whatever capacity suits you.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Dependable</span><br>Always up-front and transparent, my team and I are here solely for hard work and dedication.</li>
        <li><i class="ri-check-double-line"></i><span class='fw-bold'>Top Quality Banter</span><br>Expect on-point conversations and guaranteed laughter. Let us know... no extra charge!</li>
      </ul>
    </div>
  </div> {% endcomment %}


  








