 <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>get in touch with Justin</p>
        </div>


   
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Set up a meeting: </h4>
                <p><a href='https://calendly.com/taos-haus-tech/introductory-call'>Introductory Meeting</a></p>
              </div>
</div>
</div>
<div class="col-lg-4">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Send me an Email</h4>
                <p><a href="mailto:taos.haus.tech@gmail.com?subject = I would like to inquire about your services">taos.haus.tech@gmail.com</a></p>
              </div>
</div>

<div class="col-lg-4">
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Give me a Call:</h4>
                <p><a href='tel:9735985837'>(973) - 598 - 5837</a></p>
              </div>
</div>
        

          </div>


        </div>

      

      <!-- Modal success -->
      
    </div>
  </div>
</div>