<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>THTS<span>.</span></h3>
              <p>
              
                Taos, NM, USA<br><br>
                <strong>Phone:</strong>(973) 598-5837 <br>
                <strong>Email:</strong> taos.haus.tech@gmail.com<br>
              </p>
              <div class="social-links mt-3">
              
                <a class="nav-link" href="https://github.com/jperrycode">
              <i class="bi bi-github"></i>
            </a>
                <a href="https://www.linkedin.com/in/justinperrydeveloper/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a class="nav-link" href="https://www.instagram.com/taos_haus/">
              <i class="bi bi-instagram"></i>
            </a>
           
              </div>
            </div>
          </div>

      

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
             
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Taos Haus Tech</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->