<div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Computer Hardware Repair<span>.</span></h1>
<h2>Unlock the full potential of your computer hardware with expert service and & advice from local Nerds. Specializing in diagnosing and repairing hardware issues, we ensure your devices run smoothly and efficiently. From troubleshooting to upgrades, trust us to keep your computer systems in top-notch condition. Join us on this journey to optimized computing and experience the difference our expertise can make for your business!</h2>
          <h3 class='text-warning mt-3 fade-in-out'>!! $50 Consultations !!</h3>
      </div>


      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Hardware Diagnostics</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Battery Replacements</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Windows & Macs</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Hardware Advice</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Technical Consulting</a></h3>
          </div>
        </div>
      </div>

    </div>