{% load static %}
<div class="container" data-aos="fade-up">

      <div class="row justify-content-center mt-5" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>The Nerds who you will be working with<span>.</span></h1>
            <h2>Taos Haus Tech brings you over 2 decades of combined experience in software, hardware and ecommerce solutions.        
        </div>
      </div>
      <div class="row text-center mt-5">
<div class="col-xl-6 col-md-4" style="position: relative; text-align: center;">
    <div class='font-hover' style="position: relative;">
        <img src="{% static 'frontend/img/img-new/justin-image.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
        <h2 class="mb-3 text-warning team-name-font" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color: white;"><span class='text-light'>Justin</span> Perry</h2>
      
    </div>
    <div class='text-start p-4'>
        <h2 class='text-center p-1 m-3'>Software Developer, Ecommerce Specialist</h2>
        <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Justin specializes in designing and developing customized e-commerce solutions tailored to the specific needs of small businesses, empowering them to efficiently manage online sales and customer interactions.</h5>
        <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Seamlessly blending his software development and Ecommerce expertise with a talent for witty banter, Justin creates a productive, fun and engaging environment, fostering a positive customer experience.</h5>
    </div>
</div>





      {% comment %} <div class="col-xl-6 col-md-4">
      <h2 class="mb-3">Justin Perry</h2>
              <img src="{% static 'frontend/img/img-new/justin-image.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-50 w-auto img-hover" alt="">
             <div class='text-start p-4'>
             <h2 class='text-center text-light p-1 m-3'>Software Developer, Ecommerce Specialist</h2>
       <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Justin specializes in designing and developing customized e-commerce solutions tailored to the specific needs of small businesses, empowering them to efficiently manage online sales and customer interactions.</h5>
       <h5 class='text-light'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Seamlessly blending his software development and Ecommerce expertise with a talent for witty banter, Justin creates a productive, fun and engaging environment, fostering a positive customer experience.</h5>
       </div>
      </div> {% endcomment %}


      <div class="col-xl-6 col-md-4" style="position: relative; text-align: center;">
    <div class='font-hover' style="position: relative;">
        <img src="{% static 'frontend/img/img-new/star.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
        <h2 class="mb-3 text-warning team-name-font" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; color: white;"><span class='text-light'>Gregorious</span> Starr</h2>
    </div>
    <div class='text-start p-4'>
        <h2 class='text-center p-1 m-3'>Computer Hardware Specialist</h2>
        <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Greg possesses advanced knowledge and skill in diagnosing and repairing computer hardware issues, making them a go-to resource for resolving complex technical problems.</h5>
        <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Alongside Greg's technical prowess, he exhibits a delightful and engaging sense of humor, often injecting witty banter and light-hearted humor into their interactions, making the experience enjoyable and relatable.</h5>
    </div>
</div>

      </div>




      
    </div>