{% load static %}
<div class="container" data-aos="fade-up">

      <div class="row justify-content-center mt-5" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>The Nerds who you will be working with<span>.</span></h1>
            <h2>Taos Haus Tech brings you over 2 decades of combined experience in software, hardware and ecommerce solutions.  </h2>
        </div>
      </div>
      <div class="row text-center mt-5">
      <div class="col-xl-6 col-md-4">
      <h2 class="mb-3">Justin Perry</h2>
              <img src="{% static 'frontend/img/img-new/justin-image.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
             <div class='text-start p-4'>
             <h2 class='text-center text-light p-1 m-3'>Lead Developer & Hardware Repairs</h2>
       <h5 class='text-light mb-3'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Experienced</span><br>Justin specializes in designing and developing customized e-commerce solutions tailored to the specific needs of small businesses, empowering them to efficiently manage online sales and customer interactions.</h5>
       <h5 class='text-light'><i class="ri-check-double-line text-warning"></i><span class='mb-1'>Delightful</span><br>Seamlessly blending his software development and Ecommerce expertise with a talent for witty banter, Justin creates a productive, fun and engaging environment, fostering a positive customer experience.</h5>
       </div>
      </div>


      <div class="col-xl-6 col-md-4">
        <h2 class="mb-3">Nicole Salamone</h2>
                <img src="{% static 'frontend/img/img-new/disco_team.jpg' %}" class="img-fluid mx-auto border border-2 rounded-4 h-25 w-auto img-hover" alt="">
      <div class='text-start p-4'>
    <h2 class='text-center p-1 m-3'>UI/UX & Website Designer</h2>
    <h5 class='text-light mb-3'>
        <i class="ri-check-double-line text-warning"></i>
        <span class='mb-1'>Experienced</span><br>
        Nico brings a wealth of expertise in creating intuitive and visually appealing web designs, ensuring seamless user experiences and aesthetically pleasing interfaces.
    </h5>
    <h5 class='text-light mb-3'>
        <i class="ri-check-double-line text-warning"></i>
        <span class='mb-1'>Delightful</span><br>
        Nico not only excels in design but also brings a delightful personality to the table, infusing creativity and a friendly demeanor into every project, making collaboration enjoyable and productive.
    </h5>

<!--          <ul class="text-light list-decoration-none">-->
<!--              <li><p>Specialties</p></li>-->
<!--              <li>UI/UX Design</li>-->
<!--              <li>Website Design</li>-->
<!--              <li>Graphic Design</li>-->
<!--              <li>Front-end Website Dev</li>-->
<!--          </ul>-->
</div>


        </div>
      </div>




      
    </div>