{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Website Solutions{% endblock %}

{% block main-body %}

 <!-- ======= Hero Section ======= -->
  <section id="hero_ecom" class="d-flex align-items-center justify-content-center">
    {% include 'frontend/hero_web.html' %}
  </section><!-- End Hero -->

  <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact mb-5" style="background: linear-gradient(to bottom, #000000, #ffffff);">
     {% include 'frontend/contact_calendly.html' %}
    </section><!-- End Contact Section -->


{% include 'frontend/footer.html' %}
{% endblock %}