<nav class="navbar navbar-expand-lg ps-4 pt-3 navbar-hide-on-scroll fixed-top">
    <div class="container-fluid">
        <!-- Brand -->
        <a id='navbarBrand' class="navbar-brand flashing-effect fs-5 element-txt-shad" href="{% url 'home' %}">
            Taos Haus Tech Solutions
        </a>

        <!-- Toggler button for mobile view -->
        <button class="navbar-toggler btn btn-danger bg-danger" type="button" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible navbar content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navigation Links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ecom' %}">E-commerce Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web' %}">Website Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'team' %}">The Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_page' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}">Projects</a>
                </li>
                     <li class="nav-item">
                    <a class="nav-link" href="{% url 'this-justin' %}">Taos Haus Thumps</a>
                </li>


            </ul>

            <!-- Social Media Icons -->
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/taos_haus/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/jperrycode">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/justinperrydeveloper/">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <script>
        function adjustFontSize() {
            const element = document.getElementById('navbarBrand');
            if (window.innerWidth < 600) {
                element.classList.remove('fs-5');
            } else {
                element.classList.add('fs-5');
            }
        }

        // Adjust font size on initial load
        adjustFontSize();

        // Add event listener for window resize
        window.addEventListener('resize', adjustFontSize);
    </script>
