  <nav class="navbar navbar-expand-lg navbar-hide-on-scroll fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Taos Haus Solutions</a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse p-3 me-auto" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ecom' %}">E-commerce Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'web' %}">Website Services</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'team'  %}">The Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_page'  %}">Contact Justin</a>
          </li> 
          
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          
        
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{% url 'this-justin'  %}">
              Taos Haus Thumps
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.instagram.com/taos_haus/">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
           <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/jperrycode">
              <i class="bi bi-github"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.linkedin.com/in/justinperrydeveloper/">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->



