<div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Contact Taos Haus<span>.</span></h1>
          <h2>GET IN TOUCH WITH JUSTIN</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="https://calendly.com/taos-haus-tech/introductory-call">Set up an<br>Intro Meeting</a></h3>
            
+          </div>
         
        </div>
       <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="mailto:taos.haus.tech@gmail.com?subject = I would like to inquire about your services">Send an Email</a></h3>
            <h3><a href="mailto:taos.haus.tech@gmail.com?subject = I would like to inquire about your services">Click Here</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
             <h3><a href='tel:9735985837'>Give me a Call</a></h3>
                <h3><a href='tel:9735985837'>(973) 598-5837</a></h3>
          </div>
        </div>
        
      </div>

    </div>