<div class="container" data-aos="fade-up">
        <div class="section-title mb-5">
            <h2>Services</h2>
            <p>Taos Haus Tech Services and Pricing</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bi bi-code-square"></i></div>
                        <h4><a href="">Website + Software Development</a></h4>
                        <p>Basic one page websites to fully functional database driven web applications.</p>
                        <p>Fully custom REST API applications</p>
                        <p>If you want a feature added, Taos Haus Tech will build it</p>
                    </div>
                    <div class="hover-content p-3">

                        <ul class="list-unstyled">

                            <li>$150 Consultations Deducted from the final invoice!</li>
                            <li>Website projects vary widely in price dependent on what you want to see brought to life.</li>
                            <li>15 Hours a Month for 6 Months of Free Maintenance and updates</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bi bi-phone-flip"></i></div>
                        <h4><a href="">Mobile Optimization</a></h4>
                        <p>Responsive intuitive design for mobile browsers aim to deliver a better customer experience</p>
                    </div>
                    <div class="hover-content p-3">
                        <ul class="list-unstyled">
                            <li>$200 each Short Pages</li>
                            <li>$300 each mid size Pages</li>
                            <li>$400 each Long Pages</li>
                            <li>Custom pricing available for whole site</li>
                            <li>Discounts available</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bi bi-file-earmark-person"></i></div>
                        <h4><a href="">Personalized Consultations</a></h4>
                        <p>Personalized consultations for a detailed plan of development</p>
                    </div>
                    <div class="hover-content p-3">
                        <ul class="list-unstyled">
                            <li>$150 for first hour</li>
                            <li>$125 an hour for 2 hour+</li>
                            <li>Consultation Prices will be deducted from final invoice price!</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Ecommerce</a></h4>
                        <p>Expert Shopify, Wix and Squarespace platform consultations to expand your business</p>
                    </div>
                    <div class="hover-content p-3">
                        <ul class="list-unstyled">
                            <li>$300 Down Payment</li>
                            <li>$150 each mid size Pages</li>
                            <li>$250 each feature</li>
                            <li>Custom pricing available for whole site</li>
                            <li>Discounts available</li>
                            <li>All prices subject to change based on feature request</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Integrations</a></h4>
                        <p>Beginning to End support of 3rd party integrations for ecommerce platforms and apps</p>
                    </div>
                    <div class="hover-content p-3">
                        <ul class="list-unstyled">
                            <li>$400 for Basic Integration</li>
                            <li>$500 for Standard Integration</li>
                            <li>$800 for Advanced Integration</li>
                            <li>Custom pricing available for Complex Integration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="default-content">
                        <div class="icon"><i class="bi bi-wrench-adjustable-circle"></i></div>
                        <h4><a href="">Platform Maintenance</a></h4>
                        <p>Long-term and short-term maintenance packages to keep websites and online stores running and up to date</p>
                    </div>
                    <div class="hover-content p-3">
                        <ul class="list-unstyled">
                            <li>$125 per hour</li>
                            <li>Emergency on Call hours</li>
                            <li>Technical Point of Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>