  <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li><h2 class='text-center p-1'>Computer Hardware Specialist</h2></li>

      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Greg possesses advanced knowledge and skill in diagnosing and repairing computer hardware issues, making them a go-to resource for resolving complex technical problems.</li>
      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Delightful</span><br>Alongside Greg's technical prowess, he exhibits a delightful and engaging sense of humor, often injecting witty banter and light-hearted humor into their interactions, making the experience enjoyable and relatable.</li>
        </ul>



       <div class='text-start'>
       <h4><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Greg possesses advanced knowledge and skill in diagnosing and repairing computer hardware issues, making them a go-to resource for resolving complex technical problems</h4>
       <h4><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Delightful</span><br>Alongside Greg's technical prowess, he exhibits a delightful and engaging sense of humor, often injecting witty banter and light-hearted humor into their interactions, making the experience enjoyable and relatable</h4>
       </div>

      <div class=''>
      <h4></h4>
      <h4></h4>
      </div>