{% load static %}
<div class="container" data-aos="fade-up">




      

                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-md-4 hstack align-items-stretch justify-content-center text-light">
            <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li>       <h2 class='text-center p-1'>Software Developer, Ecommerce Specialist</h2>
</li>

    <h4><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Justin specializes in designing and developing customized e-commerce solutions tailored to the specific needs of small businesses, empowering them to efficiently manage online sales and customer interactions</h4>
     <h4> <i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Knowledgable</span><br>Justin seamlessly blends his software development expertise with a talent for witty banter, creating an environment that's not only productive but also fun and engaging, fostering a positive customer edperience and creative problem-solving.</h4>
        </ul>
      </div>

           <div class="col-xl-6 col-md-4 hstack align-items-stretch justify-content-center text-light">
         <ul class='list-unstyled calls-to-action text-center' id='call-action'>
             <li><h2 class='text-center p-1'>Computer Hardware Specialist</h2></li>

      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Experienced</span><br>Greg possesses advanced knowledge and skill in diagnosing and repairing computer hardware issues, making them a go-to resource for resolving complex technical problems.</li>
      <li class='text-start'><i class="ri-check-double-line text-warning"></i><span class='fw-bold'>Delightful</span><br>Alongside Greg's technical prowess, he exhibits a delightful and engaging sense of humor, often injecting witty banter and light-hearted humor into their interactions, making the experience enjoyable and relatable.</li>
        </ul>
      </div>
      
      
      
      
      </div> 








      </div>