{% load static %}




<div id="" class="container master-container" data-aos="fade-up">
  <div class="row mb-3 text-center print">
    
      <h3 style='font-family: "Poppins", sans-serif;' class="element-txt-shad fw-bold fs-2 element-txt-shad">Recorded Mixes and Produced Songs</h3>
    
    
      
    
  </div>
  <div class="row">
    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">
        <p class="fst-italic fw-bold mt-5 fs-3 element-txt-shad">
Joy through Dancing, Music & Banter        </p>
<img src="" alt="your mom">
    </div>



    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">

        <p class="fst-italic fs-3 fw-bold mt-5 element-txt-shad">
Live Mixes to Listen To       </p>

<p>text here</p>

    </div>
</div>
      <div class="row">
    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">
        <p class="fst-italic fw-bold mt-5 fs-3 element-txt-shad">
Joy through Dancing, Music & Banter        </p>
        <p>text here</p>    </div>



    <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">

        <p class="fst-italic fs-3 fw-bold mt-5 element-txt-shad">
Live Mixes to Listen To       </p>

<img src="" alt="your mom">

    </div>
</div>

</div>









