{% extends 'dj/dj-base.html' %}
{% load static %}
{% block title %}Reviews - Taos Haus
{% endblock %}

{% block main-body %}
  <!-- ======= Hero Section ======= -->
<div id="media-container">
        <img src="{% static 'dj/dj/justin_chicken_finger.jpg' %}" class="background-media" data-lax-translate-y="0 0, vh -500" data-lax-opacity="0 1, (vh / 2) 0" />
        <img src="{% static 'dj/dj/justin_sunset.jpg' %}" class="background-media" data-lax-translate-y="0 0, vh -500" data-lax-opacity="0 1, (vh / 2) 0" />
        <img src="{% static 'dj/dj/photo_2024-05-22_09-29-56.jpg' %}" class="background-media" data-lax-translate-y="0 0, vh -500" data-lax-opacity="0 1, (vh / 2) 0" />
        <video src="{% static 'dj/dj/justin_dj.MOV' %}" class="background-media" autoplay muted loop></video>
               <img src="{% static 'dj/dj/outside_ski_sf.gif' %}" class="background-media" data-lax-translate-y="0 0, vh -500" data-lax-opacity="0 1, (vh / 2) 0" />
        <img src="{% static 'dj/dj/video_2024-05-22_09-30-47.gif' %}" class="background-media" data-lax-translate-y="0 0, vh -500" data-lax-opacity="0 1, (vh / 2) 0" />

        <video src="{% static 'dj/dj/dallee_bangers.MP4' %}" class="background-media" autoplay muted loop></video>

    </div>


  <main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero-dj" class="d-flex align-items-center justify-content-center fade show">
      {% include 'dj/hero_dj_reviews.html' %}

    </section><!-- End Hero -->

     <section id="about-dj" class="d-none fade d-flex align-items-center justify-content-center">
      {% include 'dj/hero_dj_review_hero.html' %}
    </section><!-- End Hero -->


             <section id="reviews-dj" class="d-flex align-items-center justify-content-center">
      {% include 'dj/dj_reviews_section.html' %}
    </section><!-- End Hero -->

         <section id="about-dj" class="d-flex align-items-center justify-content-center">
      {% include 'dj/dj_about_section.html' %}
    </section><!-- End Hero -->



    <!-- ======= Contact Section ======= -->
    <section id="contact-dj" class="contact pb-5 mb-3">
      {% include 'frontend/dj-files/contact_calendly_dj.html' %}
    </section><!-- End Contact Section -->
  </main>
{% endblock %}
