<!-- ======= Footer ======= -->
  <footer id="footer" style='display: block;'>
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Taos Haus Thumps<span>.</span></h3>
              <p class="fs-5">
              
                Taos, NM, USA<br><br>
                <strong>Phone:</strong>(973) 598-5837 <br>
                <strong>Email:</strong> taos.haus.thumps@gmail.com<br>
              </p>

            </div>
          </div>

      

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>The Homies</h4>
            <ul>
              <li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/upallniteevents/"> Up All Night - Santa Fe</a></li>
              <li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/highdesertdoor/"> High Desert Door - Taos</a></li>
              <li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/soldadosmusicvenue/"> Soldados - Taos</a></li>
              <li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/truetaosradio/"> KNCE Radio - Taos</a></li>
              <li><i class="bi bi-instagram"></i> <a href="https://www.instagram.com/famousontheweekend/"> Famous on the Weekend - Santa Fe</a></li>
             
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
         <strong><span>Taos Haus Tech</span></strong>
      </div>
      
    </div>
  </footer><!-- End Footer -->