{% load static %}
<div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'frontend/img/img-new/api (1).png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Profesional & Personalized Website and Online Sales Solutions</h3>
            <p class="fst-italic">
              Our mission is to assist businesses and individuals in breaking into the online market, leveraging the power of websites and ecommerce platforms to reach a broader audience and achieve unprecedented growth.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Taos Haus offers unique and personalized website development solutions. I will work closely with you to create a captivating and functional website that truly showcases your brand and idea.</li>
              <li><i class="ri-check-double-line"></i> With over 12 years of ecommerce experience, we will guide you through the process of setting up and optimizing your online store and any attachments and integrations needed to thrive.</li>
              <li><i class="ri-check-double-line"></i> Expert consultation services aim to transform your business into a successful online venture with an Technical Expert by your side.</li>
            </ul>
            <p>
              
              I believe in building strong, long-lasting relationships with my clients. When you choose to work with Taos Haus Technical Solutions, you can expect dedicated support and personalized attention throughout your time. I am committed to your growth and prosperity.
             <a href="#contact" class='text-decoration-none'> Contact today for a consultation.</a>
            </p>
          </div>
        </div>

      </div>

      <div id="alert" style="display:none;"></div>